<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Vue 3 Absolute Basics</title>
    <link rel="stylesheet" href="index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>

  <body class="h-full grid place-items-center">
    <div id="app">
      <section>
        <h2 class="fond-bold mb-2">In Process</h2>
        <ul>
          <li v-for="assignment in inProgressAssignments" :key="assignment.id">
            <label
              >{{assignment.name}}
              <input type="checkbox" v-model="assignment.complete" />
            </label>
          </li>
        </ul>
      </section>

      <section v-if="completedAssignments.length" class="mt-8">
        <h2 class="fond-bold mb-2">Completed</h2>
        <ul>
          <li v-for="assignment in completedAssignments" :key="assignment.id">
            <label
              >{{assignment.name}}
              <input type="checkbox" v-model="assignment.complete" />
            </label>
          </li>
        </ul>
      </section>
    </div>

    <script>
      let app = {
        data() {
          return {
            assignments: [
              { id: 1, name: "Read", complete: false },
              { id: 2, name: "Write", complete: false },
              { id: 3, name: "Sleep", complete: false },
            ],
          };
        },
        computed: {
          completedAssignments() {
            return this.assignments.filter(a => a.complete);
          },
          inProgressAssignments() {
            return this.assignments.filter(a => !a.complete);
          },
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
